<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/editormd.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--navigator-->
<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">EVERYTHING ABOUT MAKEUP</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>Home</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini bars icon"></i>Categories</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini heart icon"></i>Favorite</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini book icon"></i>Post</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini key icon"></i>Login</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon transparent input m-margin-tb-tiny">
                    <input type="text" placeholder="Search...." class="white item">
                    <i class="search inverted link icon"></i>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--contents-->
<div class="m-container-large m-padded-tb-big">
    <div class="ui container">
        <div class="ui three column stackable grid login-header">
            <div class="column"></div>
            <div class="column">
                <div class="ui grid">
                    <div class="row header-row1 align-center"></div>
                    <div class="row text-center align-center">
                        <h1 class="ui header white">
                            <i class="settings icon"></i>
                            User Login
                        </h1>
                    </div>
                </div>
            </div>
            <div class="column"></div>

        </div>
        <div class="ui three column stackable grid login-div">
            <div class="column"></div>
            <div class="column">
                <form id="login" class="ui fluid form segment" method="post" action="#" th:action="@{/admin/login}">
                    <div class="field">
                        <label class="">Username</label>
                        <div class="ui left icon input">
                            <input type="text" name="username" placeholder="">
                            <i class="user icon"></i>
                            <!--<div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>-->
                        </div>
                    </div>
                    <div class="field">
                        <label class="">Password</label>
                        <div class="ui left icon input">
                            <input type="password" name="password" placeholder="">
                            <i class="lock icon"></i>
                            <!--<div class="ui corner label">
                                <i class="icon asterisk"></i>
                            </div>-->
                        </div>
                    </div>
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input type="checkbox" name="terms">
                            <label>Remember Password</label>
                        </div>
                    </div>
                    <div class="inline field">
                        <button class="ui secondary submit button">Login</button>
                    </div>
                    <div class="ui error mini message"></div>
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></div>
                </form>
            </div>
            <div class="column"></div>
        </div>
    </div>
</div>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $('.ui.form').form({
        fields : {
            username : {
                identifier: 'username',
                rules: [{
                    type : 'empty',
                    prompt: 'Username cannot be empty'
                }]
            },
            password : {
                identifier: 'password',
                rules: [{
                    type : 'empty',
                    prompt: 'Password cannot be empty'
                }]
            }
        }
    });
</script>

</body>
</html>