<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--navigation-->
<nav th:replace="admin/_fragments :: menu(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">EVERYTHING ABOUT MAKEUP</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>User</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini bars icon"></i>Category</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini heart icon"></i>Review</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini key icon"></i>Product</a>
            <div class="ui icon transparent input m-margin-tb-tiny">
                <input type="text" placeholder="Search....">
                <i class="search inverted link icon"></i>
            </div>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">Username</div>
                    <i class="dropdown icon"></i>
                    <div class="ui menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--content-->
<br>
<br>
<br>

<div class="m-container m-padded-tb-big">
    <table class="ui compact celled table">
        <thead>
        <tr>
            <th class="one wide">Id</th>
            <th class="two wide">Name</th>
            <th class="four wide">Info</th>
            <th class="two wide">Image</th>
            <th class="two wide">Detailed Category</th>
            <th class="right four wide">Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cur_product : ${products}">
            <td th:text="${cur_product.productId}"></td>
            <td th:text="${cur_product.name}"></td>
            <td th:text="${cur_product.info}"></td>
            <td>
                <a class="image" href="#">
                    <img th:src="${cur_product.image}" class="ui small image">
                </a>
            </td>
            <td th:text="${cur_product.detailedProductCategory.detailedCategoryName}"></td>
            <td>
                <button class="ui floated small labeled icon button"
                        th:data-pId="${cur_product.productId}"
                        th:data-pName="${cur_product.name}"
                        th:data-pInfo="${cur_product.info}"
                        th:data-pImage="${cur_product.image}"
                        th:data-pDCatName="${cur_product.detailedProductCategory.detailedCategoryName}"
                        th:data-pDCatID="${cur_product.detailedProductCategory.detailedCategoryId}"
                        th:onclick="javascript:edit(this.getAttribute('data-pId'), this.getAttribute('data-pName'),
                        this.getAttribute('data-pInfo'), this.getAttribute('data-pImage'), this.getAttribute('data-pDCatName'),
                        this.getAttribute('data-pDCatID'));">
                    <i class="edit icon"></i>Edit
                </button>
                <button class="ui floated small negative labeled icon button"
                        th:data-pId="${cur_product.productId}"
                        th:data-pName="${cur_product.name}"
                        th:data-pInfo="${cur_product.info}"
                        th:data-pImage="${cur_product.image}"
                        th:data-pDCatName="${cur_product.detailedProductCategory.detailedCategoryName}"
                        th:data-pDCatID="${cur_product.detailedProductCategory.detailedCategoryId}"
                        th:onclick="javascript:del(this.getAttribute('data-pId'), this.getAttribute('data-pName'),
                        this.getAttribute('data-pInfo'), this.getAttribute('data-pImage'), this.getAttribute('data-pDCatName'),
                        this.getAttribute('data-pDCatID'));">
                    <i class="trash icon"></i>Delete
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot class="full-width">
        <tr>
            <th colspan="5">
                <button class="ui right floated small primary labeled icon button" id="new-btn"
                        th:onclick="javascript:newProduct();">
                    <i class="pencil icon"></i>New Product
                </button>
            </th>
        </tr>
        </tfoot>
    </table>
</div>
<br>
<br>

<!--Edit/New Modal-->
<div class="ui small modal">
    <div class="ui icon header">
        <i class="archive icon"></i>
        <span id="modal_header"></span>
    </div>
    <div class="content">
        <p><span id="modal_content"></span></p>
        <form id="modal_form" class="ui form error" th:object="${product}" method="post"
              th:action="@{/admin/products}">
            <div class="field">
                <input type="hidden" name="productId" th:value="*{productId}">
                <input type="text" name="name" th:value="*{name}"
                       placeholder="Product Name">
                <input type="text" name="info" th:value="*{info}"
                       placeholder="Product Info">
                <input type="text" name="image" th:value="*{image}"
                       placeholder="Product Image">
            </div>
            <div class="field">
                <label>Category</label>
                <div class="ui fluid selection dropdown">
                    <input type="hidden" name="detailedProductCategory.detailedCategoryId"
                           th:value="*{detailedProductCategory} ? detailedProductCategory.detailedCategoryId">
                    <i class="dropdown icon"></i>
                    <div class="default text">Select Detailed Category</div>
                    <div class="ui menu">
                        <div th:each="g_cat : ${category}">
                            <div class="header item">
                                <span class="text" th:text="${g_cat.generalCategoryName}">General Category</span>
                            </div>
                            <a class="item" th:each="d_cat : ${g_cat.detailedProductCategoryList}"
                                 th:data-value="${d_cat.detailedCategoryId}">
                                <span th:text="${d_cat.detailedCategoryName}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui error mini message"></div>
        </form>
    </div>
    <div class="actions">
        <button class="ui green ok button">
            <i class="checkmark icon"></i>
            Save
        </button>
        <button class="ui red basic cancel button">
            <i class="remove icon"></i>
            Cancel
        </button>
    </div>
</div>


<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script th:inline="javascript">
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    // Close message
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

    // New
    function newProduct() {
        // Modal header & content
        $('#modal_header').text("New Product");
        $('#modal_content').text("Create new product: ");

        // Modal Form
        $('#modal_form').form().show();

        // Show Modal
        $('.ui.modal').modal({
            onApprove: function () {
                var approve = false;
                $('#modal_form').form(
                    {
                        fields: {
                            name: {
                                identifier: 'name',
                                rules: [{
                                    type: 'empty',
                                    prompt: "Product name cannot be empty!"
                                }]
                            }
                        }
                    },
                    {
                        onSuccess: function () {
                            approve = true;
                        }
                    }).submit();
                return approve;
            }
        }).modal('show');
    }
    
    // Delete
    function del(pid, pname, pinfo, pimage, pdcatname, pdcatid) {
        // Modal header & content
        $('#modal_header').text("Delete");
        $('#modal_content').text("Delete product " + pname + "?");

        // Modal Form
        $('#modal_form').form().hide();

        // Show Modal
        $('.ui.modal').modal({
            onApprove: function () {
                $('[name="productId"]').val(pid);
                $('#modal_form').submit();
            }
        }).modal('show');
    }

    // Edit
    function edit(pid, pname, pinfo, pimage, pdcatname, pdcatid) {
        // Modal header & content
        $('#modal_header').text("Edit");
        $('#modal_content').text("Edit product: ");

        // Modal Form
        $('[name="productId"]').val(pid);
        $('[name="name"]').val(pname);
        $('[name="info"]').val(pinfo);
        $('[name="image"]').val(pimage);
        $('[name="detailedProductCategory.detailedCategoryId"]').val(pdcatid);
        $('#modal_form').form().show();

        // Show Modal
        $('.ui.modal').modal({
            onApprove: function () {
                var approve = false;
                $('#modal_form').form(
                    {
                        fields: {
                            name: {
                                identifier: 'name',
                                rules: [{
                                    type: 'empty',
                                    prompt: "Product name cannot be empty!"
                                }]
                            }
                        }
                    },
                    {
                        onSuccess: function () {
                            approve = true;
                        }
                    }).submit();
                return approve;
            }
        }).modal('show');
    }
</script>
</body>
</html>