<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--navigator-->
<nav class="ui inverted attached segment">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">EVERYTHING ABOUT MAKEUP</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>Home</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini bars icon"></i>Categories</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini heart icon"></i>Favorited</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini book icon"></i>Post</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
                        User
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--中间内容-->

<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui mini horizontal link list">
                <div class="item">
                    <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                    <div class="content"><a href="#" class="header">李仁密</a></div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i> 2017-10-01
                </div>
                <div class="item">
                    <i class="eye icon"></i> 2342
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui fluid rounded image">
        </div>
        <div class="ui attached padded segment">
            <!--内容-->
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label">原创</div>
            </div>

            <h2 class="ui center aligned header">product</h2>
            <br>

            <div id="content" class="m-padded-lr m-padded-large">
                <p>最近尝试了这几个产品</p>
                <h2>1</h2>
                <p>产品1</p>
                <h2>2</h2>
                <p>产品2</p>
                <p></p>
                <h2>3</h2>
                <p>产品3</p>
            </div>
            <!--标签-->

            <div class="m-padded-lr">
                <div class="ui basic teal left pointing label">category</div>
            </div>

            <!--赞赏-->
            <div class="ui center aligned basic segment">
                <button class="ui orange basic circular button">赞赏</button>
            </div>

        <div class="ui bottom attached segment">
            <!--留言区域列表-->
            <div class="ui teal segment">
                <div class="ui comments">
                    <h3 class="ui dividing header">Comments</h3>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://unsplash.it/100/100?image=1005">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM</span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://unsplash.it/100/100?image=1005">
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                                <p>This has been very useful for my research. Thanks as well!</p>
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://unsplash.it/100/100?image=1005">
                                </a>
                                <div class="content">
                                    <a class="author">Jenny Hess</a>
                                    <div class="metadata">
                                        <span class="date">Just now</span>
                                    </div>
                                    <div class="text">
                                        Elliot you are always so right :)
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://unsplash.it/100/100?image=1005">
                        </a>
                        <div class="content">
                            <a class="author">Joe Henderson</a>
                            <div class="metadata">
                                <span class="date">5 days ago</span>
                            </div>
                            <div class="text">
                                Dude, this is awesome. Thanks so much
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui form">
                <div class="field">
                    <textarea name="content" placeholder="your review here"></textarea>
                </div>
                <div class="fields">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickname" placeholder="nickname">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email" placeholder="email">
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui teal button"><i class="edit icon"></i>content</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    

</body>
</html>