<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--navigator-->
<nav class="ui inverted attached segment">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">EVERYTHING ABOUT MAKEUP</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>Home</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini bars icon"></i>Explore</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini heart icon"></i>Favorite</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini book icon"></i>Post</a>
            <div class="right m-item m-mobile-hide menu">
                <!--<div class="ui dropdown  item">-->
                    <!--<div class="text">-->
                        <!--<img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">-->
                        <!--User-->
                    <!--</div>-->
                    <!--<i class="dropdown icon"></i>-->
                    <!--<div class="menu">-->
                        <!--<a href="#" class="item">Log Out</a>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="ui dropdown item">
                    <!--<img class="ui avatar image" src = "https://images.unsplash.com/photo-1521117177129-ca6b2e68cb26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" th:src="@{{session.user.avatar}}}">-->
                    <img class="ui avatar image" src = "https://images.unsplash.com/photo-1505088043216-2f88746b11a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=732&q=80">
                    <!--<span th:text="${{session.user.nickname}}">UserName</span>-->
                    <span>UserName</span>

                    <!--<div class="text">Username</div>-->

                    <i class="dropdown icon"></i>
                    <div class="ui menu">
                        <!--Need to change admin into user-->
                        <a href="#" th:href="@{/admin/logout}" class="item">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--中间内容-->
<div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached padded segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">List of Previous Posts</h3>
                </div>
                <div class="right aligned column">
                    <h2 class="ui orange header m-inline-block m-text-thin"> 114 </h2> Posts
                </div>
            </div>
        </div>

        <h3 class="ui center aligned header">2019</h3>
        <div class="ui fluid vertical menu">
            <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">April 3</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">March 22</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">March 4</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">February 12</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
        </div>

        <h3 class="ui center aligned header">2018</h3>
        <div class="ui fluid vertical menu">
            <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">December 29</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">October 18</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">July 26</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
            <a href="#" target="_blank" class="item">
          <span>
            <i class="mini teal circle icon"></i>关于刻意练习的清单
            <div class="ui teal basic left pointing label m-padded-mini ">May 17</div>
          </span>
                <div class="ui orange basic left pointing label m-padded-mini ">原创</div>
            </a>
        </div>


    </div>
</div>

</body>
</html>