<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post A New Review</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="./static/css/editormd.min.css">
    <link rel="stylesheet" href="./static/css/me.css">
</head>
<body>

<!--navigator-->
<nav class="ui inverted attached segment">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">EVERYTHING ABOUT MAKEUP</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>Home</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini bars icon"></i>Categories</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini heart icon"></i>Favorited</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini book icon"></i>Post</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
                        User
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="teal active item">Post</a>
            <a href="#" class="item">List</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form action="#" method="post" class="ui form">

            <div class="required field">
                <div class="ui left labeled input">
                    <div class="ui selection compact teal basic dropdown label">
                        <input type="hidden" value="原创" >
                        <i class="dropdown icon"></i>
                        <div class="text">Type</div>
                        <div class="menu">
                            <div class="item" data-value="原创">Original</div>
                            <div class="item" data-value="转载">Reproduced</div>
                            <!--<div class="item" data-value="翻译">Eye Shadow</div>-->
                        </div>
                    </div>
                    <input type="text" name="title" placeholder="Title">
                </div>
            </div>

            <div class="field">
                <textarea placeholder="Content" name="content"></textarea>
            </div>

            <div class="two fields">
                <div class="field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">Category</label>
                        <div class="ui fluid selection dropdown">
                            <input type="hidden" name="type">
                            <i class="dropdown icon"></i>
                            <div class="default text">Category</div>
                            <div class="menu">
                                <div class="item" data-value="1">Foundation</div>
                                <div class="item" data-value="2">Concealer</div>
                                <div class="item" data-value="3">Eye Shadow</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">Tag</label>
                        <div class="ui fluid selection multiple search  dropdown">
                            <input type="hidden" name="tag">
                            <i class="dropdown icon"></i>
                            <div class="default text">Tag</div>
                            <div class="menu">
                                <div class="item" data-value="1">Recommend</div>
                                <div class="item" data-value="2">Skip</div>
                                <div class="item" data-value="3">Best-ever</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">Image</label>
                    <input type="text" name="indexPicture" placeholder="Link of image">
                </div>

            </div>

            <!--<div class="inline fields">
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend" checked class="hidden">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="shareInfo" name="shareInfo" class="hidden">
                        <label for="shareInfo">转载声明</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="appreciation" name="appreciation" class="hidden">
                        <label for="appreciation">赞赏</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="comment" name="comment" class="hidden">
                        <label for="comment">评论</label>
                    </div>
                </div>
            </div>-->

            <div class="ui error message"></div>

            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)" >Return</button>
                <button class="ui secondary button">Save</button>
                <button class="ui teal button">Send</button>
            </div>

        </form>
    </div>
</div>


</body>
</html>